.container{
  align-items: center;
display:inline-flex;
flex-direction: row;
justify-content: space-between;
padding-left: 1em;
padding-top: 2em;
padding-bottom: 3em;
 
}
.container__link{
  text-decoration: none;
  color: var(--cinza);
padding: 1em;

}

 .container__logo{
  padding-left: 5em;
  padding-right: 4em;

 }

.container__botao{
 
  text-decoration: none;
  gap: 12px;
  color: var(--cinza);
  padding-left: 25em;
  padding-right: 2em ;

}
.container__botao-cadastro{

  border-radius:8px;
  border: solid 1px var(--vermelho-principal);
  gap: 8px;
  color:var(--branco) ;
  background-color: var(--vermelho-principal);
  text-decoration: none;
    padding-top: 10px;
  padding-right: 18px;
  padding-bottom: 10px;
  padding-left: 18px;


}

@media screen and (max-width: 450px){
  .container{
    width: 100%;
    display: contents;


  }

  .container__logo{

width: 120px;
padding: 1em ;
display: grid;

  }
  .container__botao{

  display:grid;

  margin: 1em;
  border-radius:8px;
  border: solid 1px var(--vermelho-principal);
  gap: 8px;
  text-decoration: none;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
   text-align: center;
 

  }
  .container__link{
   font-size: 14px;
    display:inline-table;
   
    padding: 2em 0.5em;
 
    
   
  }
  .container__botao-cadastro{
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
     display:grid;
     margin: 1em;
   
  

  }

}
@media screen and (max-width: 1024px){


  .container{
    width: 90%;
   display:inline-table;
   padding-top: 1em

  }

  .container__botao{
    padding-left: 1em;
      padding-right: 1em ;
  }
  .container__logo{
  padding-left: 0;
  padding-right: 0;
  padding-top: 3em;

 }
}
