.container{
  align-items: center;
display:inline-flex;
flex-direction: row;
justify-content: space-between;
padding-left: 1em;
padding-top: 2em;
padding-bottom: 3em;
 
}
.container__link{
  text-decoration: none;
  color: var(--cinza);
padding: 1em;

}

 .container__logo{
  padding-left: 5em;
  padding-right: 4em;

 }

.container__botao{
 
  text-decoration: none;
  gap: 12px;
  color: var(--cinza);
  padding-left: 25em;
  padding-right: 2em ;

}
.container__botao-cadastro{

  border-radius:8px;
  border: solid 1px var(--vermelho-principal);
  gap: 8px;
  color:var(--branco) ;
  background-color: var(--vermelho-principal);
  text-decoration: none;
    padding-top: 10px;
  padding-right: 18px;
  padding-bottom: 10px;
  padding-left: 18px;


}
@media screen and (max-width: 1024px){}
@media screen and (max-width: 450px){
  

  .container__logo{
padding-left: 0;
padding-right: 0;
width: 140px;

  }
  .container__botao{
   font-size: 16px;
   padding-left: 3em;
   padding-right: 1em;
 
  }
  .container__link{
 padding: 0.2em;

   
  }
  .container__botao-cadastro{
    padding-left: 10px;
    padding-right: 10px;
  }

}