.vaga__container{
     font-family: var(--fonte-principal);
 align-items: center;
    display:flex;
    flex-direction: column;
margin-top: 4em;

   
  

}
.vaga{
    font-family: var(--fonte-principal);
     border-radius: 16px;
    border: 1px solid #EAECF0;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 28px;
    width: 768px;
    height: 136px;
    margin:2em ;
 


}

.vaga-secao{
   
    font-size: 20px;
    font-weight: 500;
    color: var(--preto-principal);
    margin-right: 25em;
 
}
.titulo-vaga{
    font-size: 18px;
    font-weight: 500;
    color: var(--preto-principal);
 


}
.informacoes{
    font-size: 16px;
    font-weight: 500;
    color:var(--cinza);
    padding: 6em 1em ;
   
   
}
@media screen and (max-width: 450px){
 
        .vaga{
          margin:1em;
            width: 100%;
        }

   .titulo-vaga{
    font-size: 16px;
   }
    .informacoes{
       padding: 2em 1em;
        font-size: 14px;
    }

    .vaga-secao{
        padding-left: 1em;
        font-size: 16px;
    }
}
@media screen and (max-width: 1024px){
     .vaga__container{
        margin: 0;
       
    }
    .vaga{
        width: 40%;
        padding-left: 2em;
}
.vaga-secao{
    padding-top: 2em;
    padding-right: 0;
    justify-items: end;
    margin: 0 0.5em;
}
.informacoes{
    padding: 5em 1em;
}
}